<mat-card
  (mouseenter)="mouseEnterAction()"
  (mouseleave)="mouseLeaveAction()"
  class="mat-elevation-z4"
>
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <a href="#">
      <div
        [ngClass]="
          isHover
            ? 'book-image-wrapper-div-hovered'
            : 'book-image-wrapper-div-not-hovered'
        "
      >
        <img
          data-toggle="tooltip"
          data-placement="right"
          [title]="[book.title]"
          [src]="[book.image]"
          [ngClass]="
            isHover
              ? 'hovered-book-image book-image'
              : 'not-hovered-book-image book-image'
          "
          [ngStyle]="{
            height: expanded
              ? index % 2 == 0
                ? bookHeight.toString().concat('vh')
                : (bookHeight + 2).toString().concat('vh')
              : index % 2 == 0
              ? (bookHeight + 2).toString().concat('vh')
              : bookHeight.toString().concat('vh'),
            'margin-top': expanded
              ? index % 2 == 0
                ? '0vh'
                : '-2vh'
              : index % 2 == 0
              ? '-2vh'
              : '0vh'
          }"
        />
      </div>
    </a>
    <div class="module-promo-copy">
      <h4
        class="module-promo-title"
        [ngClass]="isHover ? 'underlined-hovered-text-book' : 'my_class4'"
      >
        {{ book.title }}
      </h4>
      <p class="module-promo-subtitle">{{ book.type }}</p>
      <p class="module-promo-author">
        <span class="module-promo-role">by {{ book.author }}</span>
        <span class="module-price-role">{{ book.price }} Dinars</span>
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
