.blog_section {
    background-color: #f5f6f9;
  }
  
  .blog_section .box {
    margin-top: 55px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  
  .blog_section .box .img-box {
    position: relative;
  }
  
  .blog_section .box .img-box .blog_date {
    position: absolute;
    left: 25px;
    bottom: 0;
    padding: 10px 25px;
    font-size: 18px;
    background-color: #063547;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  
  .blog_section .box .img-box img {
    width: 100%;
  }
  
  .blog_section .box .detail-box {
    padding: 45px 25px 25px 25px;
    background: #ffffff;
  }
  
  .blog_section .box .detail-box h5 {
    font-weight: bold;
  }
  
  .blog_section .box .detail-box p {
    font-size: 15px;
  }
  
  .blog_section .box .detail-box a {
    color: #44b89d;
  }