<app-nav-bar> </app-nav-bar>

<router-outlet></router-outlet>
<app-footer></app-footer>

 <!-- jQery -->
 <script src="/sr/js/jquery-3.4.1.min.js"></script>
 <script src="/src/js/ion.rangeSlider.min.js"></script>
 <!-- bootstrap js -->
 <script src="/src/js/bootstrap.js"></script>
 <!-- custom js -->
 <script src="/src/js/custom.js"></script>
 <!-- Google Map -->
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
 </script>
 <!-- End Google Map -->