
.client_section .client_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: 45px;
  }
  
  .client_section .client_container .client_id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .client_section .client_container .client_id h5 {
    color: #1d1b28;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .client_section .client_container .client_id h6 {
    margin-bottom: 0;
  }
  
  .client_section .client_container .img-box {
    width: 125px;
    margin-right: 15px;
  }
  
  .client_section .client_container .img-box img {
    width: 100%;
    border-radius: 100%;
  }
  
  .client_section .client_container .detail-box {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    background: #063547;
    color: #ffffff;
  }
  
  .client_section .client_container .detail-box span {
    margin-top: 25px;
    color: #44b89d;
    font-size: 28px;
  }