<div class="content">
  <app-category-footer-utility
    [numberOfBooks]="listOfBooksByCategory.length"
  ></app-category-footer-utility>
  <div fxLayout="row wrap" fxLayoutGap="1.1% grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.md="45%"
      *ngFor="let book of listOfBooksByCategory; let index = index"
    >
      <app-card-book
        [index]="index"
        [bookHeight]="60"
        [book]="book"
      ></app-card-book>
    </div>
  </div>
</div>
