<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" routerLink="/home">
        <span> CheikhBooks &nbsp;&nbsp; </span>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <span
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="users"
            >
              <a
                class="nav-link active pl-lg-0"
                aria-current="page"
                routerLink="admin/users"
                routerLinkActive="active-icon-navbar"
              >
                <i
                  style="font-size: 170%"
                  class="fa fa-users"
                  aria-hidden="true"
                ></i>
                <span class="sr-only">(current)</span>
              </a>
            </span>
          </li>

          <li class="nav-item">
            <span
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="books"
            >
              <a
                class="nav-link"
                routerLink="admin/books"
                routerLinkActive="active-icon-navbar"
              >
                <i
                  class="fa fa-book"
                  aria-hidden="true"
                  style="font-size: 170%"
                ></i>
              </a>
            </span>
          </li>

          <li class="nav-item">
            <span
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="orders"
            >
              <a
                class="nav-link"
                routerLink="admin/orders"
                routerLinkActive="active-icon-navbar"
              >
                <i
                  class="fa fa-shopping-cart"
                  aria-hidden="true"
                  style="font-size: 170%"
                ></i>
              </a>
            </span>
          </li>

          <li class="nav-item dropdown">
            <span
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              title="user"
            >
              <a
                class="nav-link"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  class="fa fa-user"
                  aria-hidden="true"
                  style="font-size: 170%"
                ></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">account</a>
                <a class="dropdown-item" href="#">logout</a>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
